source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget coverlet.collector
nuget Fargo.CmdLine
nuget FsToolkit.ErrorHandling
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
nuget UTF.Unknown